<template>
    <v-container fluid>
        <h1>this should be the msisdn{{msisdn}}</h1>
        <v-row>
            <v-col cols="12">
                <v-card flat>
                    <video style=" width: 100%;height: 100%;" data-dashjs-player autoplay src="http://stream.quickconnect.co.za/dash/nice_high/index.mpd" controls></video>
                </v-card>
            </v-col>
        </v-row>
        <v-row>
        <v-col>
        <v-card v-for="comment in comments" :key="comment.msisdn" style="padding: 10px; margin: 20px 0px 10px 0px">
            <h4>{{comment.msisdn}}</h4>
            <p>{{comment.comment}}</p>
        </v-card>
                <v-card flat outlined>
                <v-textarea
                    solo
                    flat
                    name="input-7-4"
                    label="Write a comment"
                ></v-textarea>

                <v-btn
                    small
                    outlined
                    style="margin: 5px"
                    color="blue"
                    text
                >
                    Comment
                </v-btn>
            </v-card>
            </v-col>
        </v-row>
        
    </v-container>
</template>
<script>
import Ayoba from '../../lib/microapp';
export default {
    name: 'Home',
    data: () => ({
        msisdn: '',
        window: {
            height: 0,
        },
        comments: [
            {
                'msisdn': '0828223729',
                'comment': '...'
            },
            {
                'msisdn': '0828223729',
                'comment': '...'
            },
            {
                'msisdn': '0828223729',
                'comment': '...'
            }
        ]
    }),
    methods:{
        getMsisdn(){
            this.msisdn = Ayoba.getMsisdn();
        }
    },
    mounted() {
        this.getMsisdn()
    }
}
</script>